<a href="https://colab.research.google.com/github/AdeWT/AdeWT-Hacktiv8-things/blob/main/h8dsft_ngc_basic_data_wrangling_in_sql_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Name: Ade William Tabrani

Batch: RMT-026

Non Graded Challange 5 of Phase 0 (Week2)
============================================

Regarding SQL: creating tables and inserting data, plus calling/querying data

# Answer

In [1]:
%%sql

-- Creates Customers table:
CREATE TABLE customers(
 customerID serial PRIMARY KEY,
 customerName char(40),
 city char(40),
);

--Creates Orders table
CREATE TABLE orders(
	orderID serial PRIMARY KEY,
	customerID smallint FOREIGN KEY REFERENCES Customers(customerID),
	orderDate date,
	totalAmount smallint
);


--inserts data into customers table
INSERT INTO customers (customerID, customerName, City)
	VALUES
	(1, 'John Doe', 'New York'),
	(2, 'Jane Smith', 'Los Angeles'),
	(3, 'David Johnson', 'Chicago');

--inserts data into orders table
INSERT INTO orders (customerID, orderDate, totalAmount)
	VALUES
	(1, '2022-10-1', 100),
	(1, '2022-2-15', 150),
	(2, '2022-3-20', 200),
	(3, '2022-4-25', 50);

--calls the data of customers name and the frequency of their order
SELECT customers.customerName, COUNT(orders.orderID) AS totalOrders
	FROM customers, orders
	WHERE customers.customerID = orders.customerID
	GROUP BY customers.customerName;

UsageError: Cell magic `%%sql` not found.